In [1]:
import requests
from pprint import pprint
import json
from pandas.io.json import json_normalize
import pandas as pd

year = range(2001,2018)
date = [str(y)+'0101'+str(y)+'1231'for y in year]


Stationid = ["56294","56196","58122","56492","57516","57411"]

In [2]:
date

['2001010120011231',
 '2002010120021231',
 '2003010120031231',
 '2004010120041231',
 '2005010120051231',
 '2006010120061231',
 '2007010120071231',
 '2008010120081231',
 '2009010120091231',
 '2010010120101231',
 '2011010120111231',
 '2012010120121231',
 '2013010120131231',
 '2014010120141231',
 '2015010120151231',
 '2016010120161231',
 '2017010120171231']

In [12]:
def weather(date,stationid):
    url = "https://api-ak.wunderground.com/api/f9caff179aa553f4/history_"+ date +"/lang:EN/units:english/bestfct:1/v:2.0/q/" + "zmw:00000.1." + str(stationid) + ".json?showObs=0&ttl=120"
    data = requests.get(url).json()   
    df = json_normalize(data['history']['days']).rename(columns=lambda x: x.replace('summary.',''))
    return df

def weather_city(stationid):
    return pd.concat([weather(dat,stationid) for dat in date])

In [5]:
chengdu2017 = weather('2017010120171231',"56294")

In [6]:
chengdu2016 = weather('2016010120161231',"56294")

In [8]:
chengdu2015 = weather('2015010120151231',"56294")

In [9]:
chengdu2014 = weather('2014010120141231',"56294")

In [11]:
chengdu2013 = weather('2013010120131231',"56294")

In [13]:
chengdu = weather_city("56294")

In [14]:
chengdu

,avgoktas,coolingdegreedays,coolingdegreedaysnormal,date.ampm,date.day,date.epoch,date.hour,date.iso8601,date.min,date.month,...,snowdepth,snowfall,temperature,temperature_normal,thunder,tornado,visibility,wind_dir,wind_dir_degrees,wind_speed
0,8,0,None,PM,1,978321600,12,2001-01-01T12:00:00+0800,00,1,...,NaN,0,50,NaN,0,0,2,NaN,NaN,3
1,7,0,None,PM,2,978408000,12,2001-01-02T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,1,NaN,NaN,2
2,7,0,None,PM,3,978494400,12,2001-01-03T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,2,NaN,NaN,2
3,8,0,None,PM,4,978580800,12,2001-01-04T12:00:00+0800,00,1,...,NaN,0,48,NaN,0,0,2,NaN,NaN,1
4,8,0,None,PM,5,978667200,12,2001-01-05T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,1,NaN,NaN,2
5,7,0,None,PM,6,978753600,12,2001-01-06T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,2,NaN,NaN,3
6,8,0,None,PM,7,978840000,12,2001-01-07T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,1,NaN,NaN,2
7,8,0,None,PM,8,978926400,12,2001-01-08T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,3,NaN,NaN,4
8,7,0,None,PM,9,979012800,12,2001-01-09T12:00:00+0800,00,1,...,NaN,0,42,NaN,0,0,5,NaN,NaN,4
9,5,0,None,PM,10,979099200,12,2001-01-10T12:00:00+0800,00,1,...,NaN,0,39,NaN,0,0,3,NaN,NaN,2
10,8,0,None,PM,11,979185600,12,2001-01-11T12:00:00+0800,00,1,...,NaN,0,42,NaN,0,0,2,NaN,NaN,2
11,3,0,None,PM,12,979272000,12,2001-01-12T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,3,NaN,NaN,3
12,2,0,None,PM,13,979358400,12,2001-01-13T12:00:00+0800,00,1,...,NaN,0,40,NaN,0,0,2,NaN,NaN,4
13,7,0,None,PM,14,979444800,12,2001-01-14T12:00:00+0800,00,1,...,NaN,0,45,NaN,0,0,2,NaN,NaN,3
14,7,0,None,PM,15,979531200,12,2001-01-15T12:00:00+0800,00,1,...,NaN,0,42,NaN,0,0,1,NaN,NaN,1
15,8,0,None,PM,16,979617600,12,2001-01-16T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,1,NaN,NaN,2
16,7,0,None,PM,17,979704000,12,2001-01-17T12:00:00+0800,00,1,...,NaN,0,45,NaN,0,0,1,NaN,NaN,1
17,8,0,None,PM,18,979790400,12,2001-01-18T12:00:00+0800,00,1,...,NaN,0,45,NaN,0,0,1,NaN,NaN,3
18,5,0,None,PM,19,979876800,12,2001-01-19T12:00:00+0800,00,1,...,NaN,0,50,NaN,0,0,2,NaN,NaN,4
19,2,0,None,PM,20,979963200,12,2001-01-20T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,2,NaN,NaN,2
20,2,0,None,PM,21,980049600,12,2001-01-21T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,1,NaN,NaN,2
21,6,0,None,PM,22,980136000,12,2001-01-22T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,1,NaN,NaN,2
22,8,0,None,PM,23,980222400,12,2001-01-23T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,3,NaN,NaN,5
23,8,0,None,PM,24,980308800,12,2001-01-24T12:00:00+0800,00,1,...,NaN,0,42,NaN,0,0,6,NaN,NaN,6
24,7,0,None,PM,25,980395200,12,2001-01-25T12:00:00+0800,00,1,...,NaN,0,38,NaN,0,0,4,NaN,NaN,4
25,7,0,None,PM,26,980481600,12,2001-01-26T12:00:00+0800,00,1,...,NaN,0,39,NaN,0,0,2,NaN,NaN,2
26,5,0,None,PM,27,980568000,12,2001-01-27T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,4,NaN,NaN,6
27,6,0,None,PM,28,980654400,12,2001-01-28T12:00:00+0800,00,1,...,NaN,0,40,NaN,0,0,3,NaN,NaN,2
28,6,0,None,PM,29,980740800,12,2001-01-29T12:00:00+0800,00,1,...,NaN,0,37,NaN,0,0,3,NaN,NaN,3
29,6,0,None,PM,30,980827200,12,2001-01-30T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,2,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,3,0,None,PM,2,1512187200,12,2017-12-02T12:00:00+0800,00,12,...,NaN,0,50,NaN,0,0,4,NaN,NaN,3
336,3,0,None,PM,3,1512273600,12,2017-12-03T12:00:00+0800,00,12,...,NaN,0,54,NaN,0,0,3,NaN,NaN,4
337,3,0,None,PM,4,1512360000,12,2017-12-04T12:00:00+0800,00,12,...,NaN,0,50,NaN,0,0,2,NaN,NaN,2
338,3,0,None,PM,5,1512446400,12,2017-12-05T12:00:00+0800,00,12,...,NaN,0,52,NaN,0,0,3,NaN,NaN,3
339,3,0,None,PM,6,1512532800,12,2017-12-06T12:00:00+0800,00,12,...,NaN,0,54,NaN,0,0,4,NaN,NaN,3
340,3,0,None,PM,7,1512619200,12,2017-12-07T12:00:00+0800,00,12,...,NaN,0,54,NaN,0,0,4,NaN,NaN,4
341,NaN,0,None,PM,8,1512705600,12,2017-12-08T12:00:00+0800,00,12,...,NaN,0,53,NaN,0,0,4,NaN,NaN,2
342,2,0,None,PM,9,1512792000,12,2017-12-09T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,4,NaN,NaN,4
343,NaN,0,None,PM,10,1512878400,12,2017-12-10T12:00:00+0800,00,12,...,NaN,0,48,NaN,0,0,3,NaN,NaN,2
344,NaN,0,None,PM,11,1512964800,12,2017-12-11T12:00:00+0800,00,12,...,NaN,0,44,NaN,0,0,3,NaN,NaN,2
345,3,0,None,PM,12,1513051200,12,2017-12-12T12:00:00+0800,00,12,...,NaN,0,48,NaN,0,0,2,NaN,NaN,2
346,5,0,None,PM,13,1513137600,12,2017-12-13T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,2,NaN,NaN,4
347,3,0,None,PM,14,1513224000,12,2017-12-14T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,3,NaN,NaN,5
348,4,0,None,PM,15,1513310400,12,2017-12-15T12:00:00+0800,00,12,...,NaN,0,48,NaN,0,0,3,NaN,NaN,3
349,3,0,None,PM,16,1513396800,12,2017-12-16T12:00:00+0800,00,12,...,NaN,0,48,NaN,0,0,4,NaN,NaN,2
350,3,0,None,PM,17,1513483200,12,2017-12-17T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,4,NaN,NaN,1
351,NaN,0,None,PM,18,1513569600,12,2017-12-18T12:00:00+0800,00,12,...,NaN,0,44,NaN,0,0,3,NaN,NaN,1
352,1,0,None,PM,19,1513656000,12,2017-12-19T12:00:00+0800,00,12,...,NaN,0,44,NaN,0,0,3,NaN,NaN,2
353,NaN,0,None,PM,20,1513742400,12,2017-12-20T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,3,NaN,NaN,2
354,NaN,0,None,PM,21,1513828800,12,2017-12-21T12:00:00+0800,00,12,...,NaN,0,45,NaN,0,0,2,NaN,NaN,1
355,NaN,0,None,PM,22,1513915200,12,2017-12-22T12:00:00+0800,00,12,...,NaN,0,44,NaN,0,0,2,NaN,NaN,2
356,NaN,0,None,PM,23,1514001600,12,2017-12-23T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,2,NaN,NaN,2
357,NaN,0,None,PM,24,1514088000,12,2017-12-24T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,2,NaN,NaN,1
358,NaN,0,None,PM,25,1514174400,12,2017-12-25T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,2,NaN,NaN,2
359,NaN,0,None,PM,26,1514260800,12,2017-12-26T12:00:00+0800,00,12,...,NaN,0,52,NaN,0,0,3,NaN,NaN,3
360,NaN,0,None,PM,27,1514347200,12,2017-12-27T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,2,NaN,NaN,2
361,NaN,0,None,PM,28,1514433600,12,2017-12-28T12:00:00+0800,00,12,...,NaN,0,45,NaN,0,0,1,NaN,NaN,1
362,2,0,None,PM,29,1514520000,12,2017-12-29T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,2,NaN,NaN,3
363,2,0,None,PM,30,1514606400,12,2017-12-30T12:00:00+0800,00,12,...,NaN,0,50,NaN,0,0,4,NaN,NaN,3
364,NaN,0,None,PM,31,1514692800,12,2017-12-31T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,4,NaN,NaN,1

In [15]:
chengdu2015

,avgoktas,coolingdegreedays,coolingdegreedaysnormal,date.ampm,date.day,date.epoch,date.hour,date.iso8601,date.min,date.month,...,snowdepth,snowfall,temperature,temperature_normal,thunder,tornado,visibility,wind_dir,wind_dir_degrees,wind_speed
0,3,0,None,PM,1,1420084800,12,2015-01-01T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,2,NaN,NaN,3
1,2,0,None,PM,2,1420171200,12,2015-01-02T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,2,NaN,NaN,2
2,3,0,None,PM,3,1420257600,12,2015-01-03T12:00:00+0800,00,1,...,NaN,0,40,NaN,0,0,1,NaN,NaN,1
3,3,0,None,PM,4,1420344000,12,2015-01-04T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,2,NaN,NaN,1
4,3,0,None,PM,5,1420430400,12,2015-01-05T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,2,NaN,NaN,3
5,3,0,None,PM,6,1420516800,12,2015-01-06T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,4,NaN,NaN,3
6,3,0,None,PM,7,1420603200,12,2015-01-07T12:00:00+0800,00,1,...,NaN,0,48,NaN,0,0,5,NaN,NaN,2
7,3,0,None,PM,8,1420689600,12,2015-01-08T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,2,NaN,NaN,2
8,2,0,None,PM,9,1420776000,12,2015-01-09T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,2,NaN,NaN,1
9,2,0,None,PM,10,1420862400,12,2015-01-10T12:00:00+0800,00,1,...,NaN,0,43,NaN,0,0,2,NaN,NaN,1
10,3,0,None,PM,11,1420948800,12,2015-01-11T12:00:00+0800,00,1,...,NaN,0,48,NaN,0,0,2,NaN,NaN,2
11,2,0,None,PM,12,1421035200,12,2015-01-12T12:00:00+0800,00,1,...,NaN,0,42,NaN,0,0,2,NaN,NaN,2
12,3,0,None,PM,13,1421121600,12,2015-01-13T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,1,NaN,NaN,1
13,3,0,None,PM,14,1421208000,12,2015-01-14T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,1,NaN,NaN,1
14,3,0,None,PM,15,1421294400,12,2015-01-15T12:00:00+0800,00,1,...,NaN,0,46,NaN,0,0,1,NaN,NaN,1
15,3,0,None,PM,16,1421380800,12,2015-01-16T12:00:00+0800,00,1,...,NaN,0,50,NaN,0,0,3,NaN,NaN,1
16,3,0,None,PM,17,1421467200,12,2015-01-17T12:00:00+0800,00,1,...,NaN,0,50,NaN,0,0,2,NaN,NaN,2
17,3,0,None,PM,18,1421553600,12,2015-01-18T12:00:00+0800,00,1,...,NaN,0,48,NaN,0,0,3,NaN,NaN,3
18,1,0,None,PM,19,1421640000,12,2015-01-19T12:00:00+0800,00,1,...,NaN,0,48,NaN,0,0,2,NaN,NaN,3
19,2,0,None,PM,20,1421726400,12,2015-01-20T12:00:00+0800,00,1,...,NaN,0,50,NaN,0,0,2,NaN,NaN,1
20,1,0,None,PM,21,1421812800,12,2015-01-21T12:00:00+0800,00,1,...,NaN,0,50,NaN,0,0,2,NaN,NaN,1
21,1,0,None,PM,22,1421899200,12,2015-01-22T12:00:00+0800,00,1,...,NaN,0,47,NaN,0,0,2,NaN,NaN,1
22,3,0,None,PM,23,1421985600,12,2015-01-23T12:00:00+0800,00,1,...,NaN,0,52,NaN,0,0,1,NaN,NaN,1
23,3,0,None,PM,24,1422072000,12,2015-01-24T12:00:00+0800,00,1,...,NaN,0,52,NaN,0,0,2,NaN,NaN,1
24,3,0,None,PM,25,1422158400,12,2015-01-25T12:00:00+0800,00,1,...,NaN,0,55,NaN,0,0,2,NaN,NaN,1
25,3,0,None,PM,26,1422244800,12,2015-01-26T12:00:00+0800,00,1,...,NaN,0,52,NaN,0,0,2,NaN,NaN,1
26,3,0,None,PM,27,1422331200,12,2015-01-27T12:00:00+0800,00,1,...,NaN,0,50,NaN,0,0,2,NaN,NaN,3
27,5,0,None,PM,28,1422417600,12,2015-01-28T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,3,NaN,NaN,9
28,3,0,None,PM,29,1422504000,12,2015-01-29T12:00:00+0800,00,1,...,NaN,0,44,NaN,0,0,6,NaN,NaN,3
29,3,0,None,PM,30,1422590400,12,2015-01-30T12:00:00+0800,00,1,...,NaN,0,42,NaN,0,0,5,NaN,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2,0,None,PM,2,1449028800,12,2015-12-02T12:00:00+0800,00,12,...,NaN,0,57,NaN,0,0,3,NaN,NaN,2
336,5,0,None,PM,3,1449115200,12,2015-12-03T12:00:00+0800,00,12,...,NaN,0,53,NaN,0,0,3,NaN,NaN,3
337,5,0,None,PM,4,1449201600,12,2015-12-04T12:00:00+0800,00,12,...,NaN,0,50,NaN,0,0,4,NaN,NaN,2
338,2,0,None,PM,5,1449288000,12,2015-12-05T12:00:00+0800,00,12,...,NaN,0,52,NaN,0,0,4,NaN,NaN,1
339,3,0,None,PM,6,1449374400,12,2015-12-06T12:00:00+0800,00,12,...,NaN,0,54,NaN,0,0,3,NaN,NaN,3
340,3,0,None,PM,7,1449460800,12,2015-12-07T12:00:00+0800,00,12,...,NaN,0,53,NaN,0,0,2,NaN,NaN,1
341,3,0,None,PM,8,1449547200,12,2015-12-08T12:00:00+0800,00,12,...,NaN,0,52,NaN,0,0,2,NaN,NaN,1
342,3,0,None,PM,9,1449633600,12,2015-12-09T12:00:00+0800,00,12,...,NaN,0,54,NaN,0,0,2,NaN,NaN,1
343,3,0,None,PM,10,1449720000,12,2015-12-10T12:00:00+0800,00,12,...,NaN,0,54,NaN,0,0,2,NaN,NaN,2
344,4,0,None,PM,11,1449806400,12,2015-12-11T12:00:00+0800,00,12,...,NaN,0,52,NaN,0,0,2,NaN,NaN,2
345,6,0,None,PM,12,1449892800,12,2015-12-12T12:00:00+0800,00,12,...,NaN,0,52,NaN,0,0,5,NaN,NaN,5
346,4,0,None,PM,13,1449979200,12,2015-12-13T12:00:00+0800,00,12,...,NaN,0,48,NaN,0,0,5,NaN,NaN,5
347,3,0,None,PM,14,1450065600,12,2015-12-14T12:00:00+0800,00,12,...,NaN,0,45,NaN,0,0,5,NaN,NaN,3
348,3,0,None,PM,15,1450152000,12,2015-12-15T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,6,NaN,NaN,3
349,1,0,None,PM,16,1450238400,12,2015-12-16T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,4,NaN,NaN,1
350,1,0,None,PM,17,1450324800,12,2015-12-17T12:00:00+0800,00,12,...,NaN,0,42,NaN,0,0,4,NaN,NaN,1
351,3,0,None,PM,18,1450411200,12,2015-12-18T12:00:00+0800,00,12,...,NaN,0,45,NaN,0,0,5,NaN,NaN,3
352,4,0,None,PM,19,1450497600,12,2015-12-19T12:00:00+0800,00,12,...,NaN,0,42,NaN,0,0,2,NaN,NaN,2
353,4,0,None,PM,20,1450584000,12,2015-12-20T12:00:00+0800,00,12,...,NaN,0,42,NaN,0,0,3,NaN,NaN,2
354,5,0,None,PM,21,1450670400,12,2015-12-21T12:00:00+0800,00,12,...,NaN,0,44,NaN,0,0,2,NaN,NaN,2
355,3,0,None,PM,22,1450756800,12,2015-12-22T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,2,NaN,NaN,2
356,3,0,None,PM,23,1450843200,12,2015-12-23T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,3,NaN,NaN,2
357,2,0,None,PM,24,1450929600,12,2015-12-24T12:00:00+0800,00,12,...,NaN,0,49,NaN,0,0,3,NaN,NaN,2
358,1,0,None,PM,25,1451016000,12,2015-12-25T12:00:00+0800,00,12,...,NaN,0,47,NaN,0,0,3,NaN,NaN,1
359,1,0,None,PM,26,1451102400,12,2015-12-26T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,3,NaN,NaN,1
360,1,0,None,PM,27,1451188800,12,2015-12-27T12:00:00+0800,00,12,...,NaN,0,45,NaN,0,0,2,NaN,NaN,1
361,3,0,None,PM,28,1451275200,12,2015-12-28T12:00:00+0800,00,12,...,NaN,0,45,NaN,0,0,1,NaN,NaN,1
362,2,0,None,PM,29,1451361600,12,2015-12-29T12:00:00+0800,00,12,...,NaN,0,48,NaN,0,0,1,NaN,NaN,1
363,2,0,None,PM,30,1451448000,12,2015-12-30T12:00:00+0800,00,12,...,NaN,0,50,NaN,0,0,1,NaN,NaN,2
364,2,0,None,PM,31,1451534400,12,2015-12-31T12:00:00+0800,00,12,...,NaN,0,46,NaN,0,0,1,NaN,NaN,1

In [17]:
chengdu.to_csv("chengdu.csv")